@model IEnumerable<GradeHub.Models.Credentials>

@{
    ViewData["Title"] = "Index";
}

<<<<<<< HEAD
<h1>Students Record Information</h1>

<p>
    <a asp-action="Create">Add New Record</a>
=======
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
>>>>>>> 51d7bec4d946c828bad4dbb5039cd99aa3aeb77f
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseSection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Average)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseSection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Average)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
<<<<<<< HEAD
                @Html.ActionLink("Record Details", "Details", new { /* id=item.PrimaryKey */ }) |
=======
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
>>>>>>> 51d7bec4d946c828bad4dbb5039cd99aa3aeb77f
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
